.text-secondary {
  color: #991fe7;
}

.text-primary {
  color: #f5f7f6;
}

.text-hover-primary:hover {
  color: #f5f7f6;
}

.bg-primary {
  background-color: #f5f7f6;
}

.text-grey {
  color: #6d6b82;
}

.text-grey-light-2 {
  color: #8a899b;
}

.text-grey-light-3 {
  color: #9997a8;
}

.text-grey-light-8 {
  color: #e2e1e6;
}

.text-black {
  color: #252525;
}

.bg-glass {
  background-color: rgba(54, 22, 62, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  height: 100vh;
  background-image: linear-gradient(to top, #1d1d1d, #250842);
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #991fe7;
}

h1 {
  color: #e6e9e7;
}

.column {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

nav {
  float: left;
  height: 100%;
  width: 20%;
}

.main {
  width: 78%;
  float: right;
  height: 100%;
}

nav img {
  box-shadow: 10px -10px 75px 3px rgba(255, 255, 255, 0.5);
}
nav span {
  font-weight: 600;
}
nav h1 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
nav li {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 1.5rem;
  cursor: pointer;
}
nav li img {
  box-shadow: none;
  filter: invert(0.5);
  margin-right: 25px;
}
nav li #home {
  filter: none;
}
nav li:hover img {
  filter: invert(0);
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.top {
  width: 100%;
  height: 7%;
}
.top h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.top span {
  float: right;
}
.top input {
  border: 0px;
  width: 220px;
  font-size: 1rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.top #search {
  position: relative;
  left: 35px;
  z-index: 100;
}
.top input:focus {
  border: 1px solid #991fe7;
  width: 300px;
  transition: 1s;
}

.left {
  width: 65%;
  position: relative;
  height: 93%;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.left h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.left::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.right {
  width: 33%;
  height: 93%;
  float: right;
}

.banner {
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom right, #c183fa, #991fe7);
  background-blend-mode: overlay;
}
.banner h3 {
  font-weight: 400;
}
.banner h1 {
  font-weight: 600;
  letter-spacing: 1px;
}
.banner img {
  position: absolute;
  top: 0px;
  right: 20px;
  height: 100%;
}

.song-card {
  display: flex;
  align-items: flex-end;
  background-color: #636363;
  background-image: url(/Assets/bg-1.jpg);
  background-blend-mode: hard-light;
  background-size: cover;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  width: 180px;
  padding: 0.5rem;
  height: 150px;
  transition: 0.5s;
}
.song-card .song-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0.3rem;
}
.song-card .song-info h4 {
  font-weight: 400;
}
.song-card .song-info img {
  width: 13px;
  display: inline-block;
}
.song-card .song-info p {
  color: #e6e9e7;
  font-size: 0.8rem;
  display: inline-block;
  padding-left: 0.5rem;
}
.song-card .song-info #play {
  width: 40px;
}

.song-card:hover {
  z-index: 100;
  background-blend-mode: normal;
  transform: scale(110%);
  transition: 0.5s;
}

.cards {
  position: relative;
  display: flex;
  gap: 15px;
  width: 100%;
  height: fit-content;
}
.cards img {
  cursor: pointer;
}
.cards > img {
  filter: invert(0);
  width: 30px;
}
.cards #back {
  position: absolute;
  z-index: 1000;
  top: 60px;
  left: 0px;
}
.cards #next {
  z-index: 1000;
  position: absolute;
  top: 60px;
  right: 0px;
}

.artist {
  width: 100%;
  height: 40%;
}
.artist .artist-card {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  margin-top: 0.5rem;
  gap: 20px;
  align-items: center;
}
.artist .artist-card img {
  height: 100%;
  width: 55px;
  display: inline-block;
}
.artist .artist-card aside {
  width: 100%;
}
.artist .artist-card h4 {
  font-weight: 600;
}
.artist .artist-card p {
  font-size: 0.8rem;
}

.player {
  width: 90%;
  margin: 0 auto;
  height: 58%;
  text-align: center;
  background-color: #250842;
  flex-direction: column;
  justify-content: space-between;
}
.player .player-banner {
  width: 100%;
  height: 160px;
}
.player h3 {
  font-weight: 400;
}
.player p {
  font-size: 0.9rem;
}
.player .controls {
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.player .controls img {
  width: 20px;
}
.player .controls #playBtn {
  width: 45px;
}
.player .controls #shuffle {
  filter: invert(0.5);
  margin-left: 10px;
}
.player .controls #loop {
  filter: invert(0.5);
  margin-right: 10px;
}

.trend-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c183fa;
}
.trend-card section {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.trend-card .left-trend {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.trend-card .left-trend img {
  width: 55px;
  height: 55px;
}
.trend-card .left-trend #prof {
  width: 10px;
  height: 10px;
  filter: invert(0.6);
}
.trend-card .left-trend h4 {
  font-weight: 600;
}
.trend-card .left-trend p {
  font-size: 0.8rem;
}
.trend-card .right-trend {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trend-card .right-trend img {
  width: 40px;
  cursor: pointer;
}

.overlay-shadow {
  position: fixed;
  bottom: 22px;
  height: 50px;
  right: -40px;
  width: 80%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

#playBtn {
  cursor: pointer;
}

#seeker {
  -webkit-appearance: none;
  appearance: none;
  background: #c183fa;
  height: 5px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px white;
}

#seeker::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border: 0px;
  border-radius: 10px;
  background-color: #c183fa;
  cursor: pointer;
}

#seeker:active::-moz-range-thumb {
  background-color: #e6e9e7;
  box-shadow: 0px 0px 10px white;
}

#seeker::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border: 0px;
  border-radius: 10px;
  background-color: #c183fa;
  cursor: pointer;
}

#seeker:active::-webkit-slider-thumb {
  background-color: #e6e9e7;
  box-shadow: 0px 0px 10px white;
}

#loop {
  cursor: pointer;
}

#shuffle {
  cursor: pointer;
}

.overlay-player {
  width: 60vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 0, 0, 0.8);
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.br {
  border-radius: 20px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 30px;
}

.display-f {
  display: flex;
}

.display-i-b {
  display: inline-block;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f5f7f6;
}
.btn-primary:hover {
  background-color: white;
}