* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  height: 100vh;
  background-image: linear-gradient(to top, #1d1d1d, $purple);
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $secondary;
}

h1 {
  color: $primary;
}

.column {
  display: flex;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
nav {
  float: left;
  height: 100%;
  width: 20%;
}
.main {
  width: 78%;
  float: right;
  height: 100%;
}
nav {
  img {
    box-shadow: 10px -10px 75px 3px rgba(255, 255, 255, 0.5);
  }
  span {
    font-weight: 600;
  }
  h1 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: $font-size-large;
  }
  li {
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: $base-margin * 2;
    cursor: pointer;
    img {
      box-shadow: none;
      filter: invert(0.5);
      margin-right: 25px;
    }
    #home {
      filter: none;
    }
  }
  li:hover img {
    filter: invert(0);
    cursor: pointer;
  }
}
h2 {
  font-size: $font-size-large;
  font-weight: 600;
  letter-spacing: 1px;
}
.top {
  width: 100%;
  height: 7%;
  h1 {
    font-size: $font-size-xl;
    font-weight: 600;
    letter-spacing: 1px;
  }

  span {
    float: right;
  }
  input {
    border: 0px;
    width: 220px;
    font-size: $base-font-size;
    box-shadow: $base-box-shadow;
    transition: 1s;
  }
  #search {
    position: relative;
    left: 35px;
    z-index: 100;
  }
  input:focus {
    border: 1px solid $secondary;
    width: 300px;
    transition: 1s;
  }
}
.left {
  width: 65%;
  position: relative;
  height: 93%;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  h2 {
    font-size: $font-size-large;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.left::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.right {
  width: 33%;
  height: 93%;
  float: right;
}
.banner {
  width: 100%;
  position: relative;
  // background-color: #535353;
  // background-image: url(/Assets/bg-banner.jpg);
  background-image: linear-gradient(to bottom right, $tertiary, $secondary);
  background-blend-mode: overlay;
  h3 {
    font-weight: 400;
  }
  h1 {
    font-weight: 600;
    letter-spacing: 1px;
  }
  img {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 100%;
  }
}

.song-card {
  display: flex;
  align-items: flex-end;
  background-color: #636363;
  background-image: url(/Assets/bg-1.jpg);
  background-blend-mode: hard-light;
  background-size: cover;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  width: 180px;
  padding: 0.5rem;
  height: 150px;
  transition: 0.5s;
  .song-info {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: $base-box-shadow;
    padding: 0.3rem;
    h4 {
      font-weight: 400;
    }
    img {
      width: 13px;
      display: inline-block;
    }
    p {
      color: $primary;
      font-size: 0.8rem;
      display: inline-block;
      padding-left: 0.5rem;
    }
    #play {
      width: 40px;
    }
  }
}

.song-card:hover {
  z-index: 100;
  background-blend-mode: normal;
  transform: scale(110%);
  transition: 0.5s;
}

.cards {
  position: relative;
  display: flex;
  gap: 15px;
  width: 100%;
  height: fit-content;
  img {
    cursor: pointer;
  }
  > img {
    filter: invert(0);
    width: 30px;
  }

  #back {
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0px;
  }
  #next {
    z-index: 1000;
    position: absolute;
    top: 60px;
    right: 0px;
  }
}
.artist {
  width: 100%;
  // background -color: $tertiary;
  height: 40%;
  .artist-card {
    width: 100%;
    height: 55px;
    margin: 0 auto;
    margin-top: 0.5rem;
    gap: 20px;
    align-items: center;
    img {
      height: 100%;
      width: 55px;
      display: inline-block;
    }
    aside {
      width: 100%;
      // float: right;
    }
    h4 {
      font-weight: 600;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
.player {
  width: 90%;
  margin: 0 auto;
  height: 58%;
  text-align: center;
  background-color: $purple;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-weight: 400;
  }
  p {
    font-size: 0.9rem;
  }
  .controls {
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    img {
      width: 20px;
    }
    #playBtn {
      width: 45px;
    }
    #shuffle {
      filter: invert(0.5);
      margin-left: 10px;
    }
    #loop {
      filter: invert(0.5);
      margin-right: 10px;
    }
  }
}

.trend-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $tertiary;
  section {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left-trend {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    img {
      width: 55px;
      height: 55px;
    }
    #prof {
      width: 10px;
      height: 10px;
      filter: invert(0.6);
    }
    h4 {
      font-weight: 600;
    }
    p {
      font-size: 0.8rem;
    }
  }
  .right-trend {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 40px;
      cursor: pointer;
    }
  }
}
.overlay-shadow {
  position: fixed;
  bottom: 22px;
  height: 50px;
  right: -40px;
  width: 80%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgb(255, 255, 255, 0)
  );
}
#playBtn {
  cursor: pointer;
}
#seeker {
  -webkit-appearance: none;
  appearance: none;
  background: $tertiary;
  height: 5px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px white;
}
#seeker::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border: 0px;
  border-radius: 10px;
  background-color: $tertiary;
}
#seeker:active::-moz-range-thumb {
  background-color: $primary;
  box-shadow: 0px 0px 10px white;
}
#seeker::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border: 0px;
  border-radius: 10px;
  background-color: $tertiary;
}
#seeker:active::-webkit-slider-thumb {
  background-color: $primary;
  box-shadow: 0px 0px 10px white;
}
#loop {
  cursor: pointer;
}
